*{margin:0;padding: 0;}
cabeçalho {
    background-color:aliceblue;
display: flex;
justify-content: space-around;
padding: 24px 0;}
cabeçalho-lista-item{display: inline-block;
margin: 0% 16px;
padding: 24px 0;
font-size: 24px;}